/* .App {
  text-align: center;
} */

.App-header {
  background-color: #6b8ccf;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recipeCard {
  border: 2px solid black;
  margin: 2%;

}

.instruction {
  line-height: 1.5;
}

