/* .App {
  text-align: center;
} */

.App-header {
  background-color: #89b0ae;
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  margin-right: 37%;
}

.styledRecipeContainer {
  /* border: 2px solid black; */
  width: 45%;
}

.recipeList {
  /* border: 2px solid purple; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.allRecipeList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5%;
}

.instruction {
  line-height: 1.5;
}

.navContainer {
  /* border: 1px solid red; */
  width: 40%;
  margin-right: 2%;
  margin-bottom: 1%;
}

.navLinks {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

a:hover {
  color: white;
}

.mainTitle {
  /* border: 1px solid green; */
  width: 50%;
 font-size: 2rem;
 margin-left: 3%;
}

